<h2 mat-dialog-title class="dialog-title">Add New Contact</h2>
<form [formGroup]="contactForm" (ngSubmit)="submitContactForm()" class="contact-form">
  <mat-form-field class="form-field">
    <input matInput formControlName="name" placeholder="Name" required />
    <mat-error
      *ngIf="
        contactForm.get('name')?.invalid && contactForm.get('name')?.touched
      "
    >
      Name is required
    </mat-error>
  </mat-form-field>

  <mat-form-field class="form-field">
    <input matInput formControlName="email" placeholder="Email" required />
    <mat-error
      *ngIf="
        contactForm.get('email')?.invalid && contactForm.get('email')?.touched
      "
    >
      Valid email is required
    </mat-error>
  </mat-form-field>

  <mat-form-field class="form-field">
    <input
      matInput
      formControlName="phone"
      placeholder="Phone"
      required
    />
    <mat-error *ngIf="contactForm.get('phone')?.hasError('required')">
      Phone number is required
    </mat-error>
    <mat-error *ngIf="contactForm.get('phone')?.hasError('pattern')">
      Enter a valid phone number (10-15 digits, possible with +).
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Choose data of birth</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="birthDate" />
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="form-field">
    <input matInput formControlName="address" placeholder="Address" />
    <mat-error
      *ngIf="
        contactForm.get('address')?.invalid &&
        contactForm.get('address')?.touched
      "
    >
      Address is required
    </mat-error>
  </mat-form-field>

  <div mat-dialog-actions class="dialog-actions">
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="contactForm.invalid"
      class="submit-btn"
    >
      Save
    </button>
    <button
      mat-raised-button
      color="warn"
      type="button"
      (click)="cancel()"
      class="cancel-btn"
    >
      Cancel
    </button>
  </div>
</form>
