/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@mixin container-styles {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 16px;
  background-color: #f9f9f9;
  height: 100vh;
  box-sizing: border-box;
}

@mixin header-grid-styles {
  width: 100%;
  max-width: 960px;
  box-sizing: border-box;
}
